*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: antiquewhite;
}
h3{
    color: blue;
}
h1{
    color: red;
}
#login {
    background-color: blueviolet;
    color: whitesmoke;
}
.upvote{
    background-color: cadetblue;
}
p a{
    background-color: cyan;
}
p + h3{
    text-decoration: underline;

}

div>input{
    background-color: darksalmon;
}
input[type="text"]{
    color: lawngreen;
}
input[type]{
    background-color: cornflowerblue;
}