#box1{
    height: 100px;
    width: 100px;
    background-color: palevioletred;
}
#box1:hover{
    width: 600px;
}

#box2{
    width: 100px;
    height: 100px;
    background-color: aqua;
    transform: translate(200px,200px) rotate(90deg);
}

#box3{
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    transform: skewX(20deg);
}
#box4{
    width: 100px;
    height: 100px;
    background-color: bisque;
    box-shadow: 2px 2px 5px greenyellow;
}

